{{ partial "header" .}}

  <h1 id="title"> {{ .Title }}</h1>
  {{ .Content }}

  <div class="post-list">
    {{ range .Pages.ByPublishDate.Reverse }}
      {{ partial "hobbies/item" .}}
      
    {{ end }}
  </div>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/911VJxa4PfM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/omr1AWE_ivM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{{ partial "footer" .}}